[data-theme="dark"] .modal {
    background-color: rgba(126, 126, 126, 0.308);
}
[data-theme="dark"] .modalContainer {
    background-color: #161616;
    color: #acacac;
  }
  [data-theme="dark"] .modalClose {
    background-color: #c5a87ea2;
  }
  [data-theme="dark"] .modalClose:hover {
    background-color: #d9af71;
  }

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.308);
    display: none;
    justify-content: center;
    align-items: start;
}
.modal.isOpen {
    display: flex;
}
.modalContainer {
    position: relative;
    background-color: #ffffff;
    min-width: 40%;
    max-width: 60%;
    min-height: 40rem;
    max-height: 40rem;
    overflow-y: auto;
    padding: 2rem;
    margin: 11em 0;
}

.modalClose {
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 1rem;
    padding: 0 1rem;
    border-radius: .2rem;
    margin:  0 0 3rem;
    background-color: #d9af71;
}