# ------------ DATABASE CONFIG (RENDER) ------------
DB_HOST = dpg-ctvgl2lsvqrc738b2umg-a.oregon-postgres.render.com
DB_PORT = 5432
DB_USERNAME = user
DB_PASSWORD = 6rZoBqNDGJD6R30oyisXfFK2OptBUEj9
DB_DATABASE = pfdatabase_7ld5
DB_SSL=true

# ------------ SERVER CONFIG --------------
PORT = 4000

# ------------ JWT ------------------------
JWT_SECRET = clavesecreta

# ------------ CLOUDINARY -----------------
CLOUDINARY_CLOUD_NAME = dkcaaane6
CLOUDINARY_API_KEY = 628473124156344
CLOUDINARY_API_SECRET = ehyw-eU2WnQb2RngBId6J9ca5yo

# ----------- NOTIFICATIONS EMAIL ------------

EMAIL_USER=proyectohenrypt21b@gmail.com
EMAIL_PASSWORD=qbri rlow ltda kiap 

#--------------STRIPE KEY--------------------
STRIPE_KEY=sk_test_51QUxjUGX5pe1MF0tkDANwb2wpH872z4OP3kku1HT9JlQ0HC0RSseejdyOH3pG59bMcWBElad9xiijTsR499ajlKS00WPRIWRKu